.pyenv/
poetry.lock
.history/
stacking_2d_systems/__pycache__/
.DS_Store
.vscode/
dist/
__pycache__
tests/CuC3Ph-COF.csv
tests/CuC3Ph-COF.xlsx
tests/check_test.py
tests/monolayer2.cif
tests/pxrd_scan/
tests/reg_cof_mono.cif
tests/reg_cof_mono.xlsx

tests/BPDA.txt
tests/build_cofs.py
tests/reg_cof_mono2.cif

